@{
    ViewData["Title"] = "CheckUserExist";
}

<h1>CheckUserExist</h1>

<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <form method="post" action="~/api/register" id="userForm">
            <div class="mb-3">
                <label for="InputName" class="form-label">姓名</label>
                <input type="text" class="form-control" id="InputName" name="name">

            </div>
            <div class="mb-3">
                <label for="InputEmail" class="form-label">電子郵件</label>
                <input type="email" class="form-control" id="InputEmail" name="email">
            </div>
            <div class="mb-3">
                <label for="InputAge" class="form-label">年紀</label>
                <input type="number" class="form-control" id="InputAge" name="age">
            </div>

            <button type="submit" class="btn btn-primary" id="buttonSubmit">送出</button>
        </form>
        <div id="div1" class="alert alert-info mt-3"></div>

    </div>
    <div class="col-3"></div>

</div>


@section Styles {
    <style></style>
}

@section Scripts {
    <script>
        const btnSubmit = document.querySelector('#buttonSubmit');
        const InputName = document.querySelector("#InputEmail");
        const div1 = document.querySelector("#div1");

        InputName.addEventListener("blur", async (e) => {
            const res = await fetch(`@Url.Content("~/api/CheckUserExist")?email=${e.target.value}`);
            const data = await res.text();
            if (data) {
                div1.innerHTML = "帳號已被註冊"
            }
        })


        btnSubmit.addEventListener('click', async (evt) => {
            evt.preventDefault();
        })
    </script>
}