@{
    ViewData["Title"] = "SpotsSearch";
}

<h1>SpotsSearch</h1>
<div class="row mb-3">
    <div class="form-floating col-2">
        <select class="form-select" id="selectCategory">
            <option selected disabled>Category</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>
        <label for="selectCategory">Category</label>
    </div>
    <div class="form-floating col-2">
        <select class="form-select" id="selectSortBy">
            <option selected disabled>Sort by</option>
            <option value="spotTitle">spot title</option>
            <option value="categoryId">category Id</option>
        </select>
        <label for="selectSortBy">Category</label>
    </div>
    <div class="form-floating col-1">
        <select class="form-select" id="selectSortType">
            <option selected disabled>sort type</option>
            <option value="asc">asc</option>
            <option value="dec">dec</option>
        </select>
        <label for="selectSortType">Sort</label>
    </div>
    <div class="col-4">
        <nav>
            <ul class="pagination" id="selectPage">
            </ul>
        </nav>
    </div>
    <div class="col-2">
        <input type="search" placeholder="搜尋景點資料" class="form-control" id="inputSearch" />
    </div>
</div>
<div class="row row-cols-1 row-cols-md-3 g-4" id="divResult">
</div>

@section Styles {
    <style></style>
}

@section Scripts {
    <script>
        const divResult = document.getElementById("divResult");
        const selectPage = document.getElementById("selectPage");
        const selectCategory = document.getElementById("selectCategory");
        const inputSearch = document.getElementById("inputSearch");
        const selectSortBy = document.getElementById("selectSortBy");
        const selectSortType=document.getElementById("selectSortType")


        const searchData = {
            "categoryId": 0,
            "keyword": "公園",
            "page": 1,
            "pageSize": 9,
            "sortBy": "SpotId",
            "sortType": "asc"
        };

        const pagingHandler = (e) => {
            searchData.page = e;
            loadSpots();
        }

        inputSearch.addEventListener('keydown', (e) => {
            if (e.keyCode === 13) {
                searchData.keyword = e.target.value;
                loadSpots();
            }
        })

        selectCategory.addEventListener('change', (e) => {
            searchData.categoryId = e.target.value;
            loadSpots();
        })

        selectSortBy.addEventListener('change', (e) => {
            searchData.sortBy = e.target.value;
            loadSpots();
        })

        selectSortType.addEventListener('change', (e) => {
            searchData.sortType = e.target.value;
            loadSpots();
        })


        const loadSpots = async () => {
            const url = `@Url.Content("~/api/SearchSpots")`

            const res = await fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(searchData)
            });

            const data = await res.json();

            console.log(data);

            const spots = data.spotsResult.map((spot) => {
                const { spotId, spotTitle, spotDescription, address, spotImage } = spot;
                return (`
                                <div class="col">
                                <div class="card">
                                <img src="${spotImage}" class="card-img-top" alt="${spotTitle}">
                                <div class="card-body">
                                <h5 class="card-title">${spotId} ${spotTitle}</h5>
                                <p class="card-text">${spotDescription.length <= 100 ? spotDescription : spotDescription.substring(0, 100)}</p>
                                </div>
                                <div class="card-footer">
                                <small class="text-body-secondary">${address}</small>
                                </div>
                                </div>
                                </div>
                                `);
            })

            divResult.innerHTML = spots.join('');

            let liPages = "";
            for (let i = 1; i <= data.totalPages; i++) {
                liPages += `<li class="page-item" onclick="pagingHandler(${i})"><a class="page-link">${i}</a></li>`
            }

            selectPage.innerHTML = liPages;
        }

        loadSpots();

    </script>
}